In [1]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm
import json
from sklearn.preprocessing import MinMaxScaler
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
# 读取所有设备
col_names = [ 'date','time', 'sensor_id', 'val']

homeass_df = pd.read_csv('event_result.log', sep="\s+", names=col_names)

homeass_df.head()

         date             time sensor_id   val
0  2007-10-25  15:04:24.590379      T001  21.5
1  2007-10-25  15:04:24.595221      AC01    ON
2  2007-10-25  15:04:24.590379      T002  20.5
3  2007-10-25  15:04:24.590379      T003  20.5
4  2007-10-25  15:13:22.086372      T002    20

In [3]:
# 导入两个矩阵， 我们仅仅使用event_trans_pro
event_trans = np.load("event_trans_pro.npy")
# event_single = np.load("event_single_pro.npy")

In [4]:
# 这个是用来将概率转换为权重的函数
def g_sigmoid(x):
    
    return 1.0/(1+ np.exp( 5000 * (-x+0.00021101498206372652) ) ) - 0.0

In [5]:
# 输入一个序列， 我们返回通过概率转移矩阵计算得到的权重
def get_multi_event_pro_2_w(input_event_list, event_trans):
    
    
    n = len(input_event_list)
    if n < 1:
        
        return 1 # 序列中至少有两个事件
    
    # res_pro = g_sigmoid( event_single[input_event_list[0]] )
    res_pro = 1
    
    for i in range(n-1):
        
        res_pro *= g_sigmoid(event_trans[input_event_list[i]][input_event_list[i+1]] )
        
    return res_pro

In [6]:
# 每一个事件有相应的id作为标识

with open('event2id.json', 'r') as f:
    event2id = json.load(f)

In [7]:
# 这是未出现在概率转移矩阵当中的事件
event2id['M020_0']

KeyError: 'M020_0'

In [8]:
# 这是某个事件的编号
event2id['L002_0']

136

In [9]:
# 事件序列 M031_1->M031_0->M031_1 的输出权重

get_multi_event_pro_2_w(([ 88, 89, 88]), event_trans)

1.0

In [10]:
# 读取异常检测测试的输入事件序列、并进行相应的处理
col_names = ['datetime', 'flag', 'sensor_id', 'val']
 
test_attack_1_df = pd.read_csv('attacked_rub_house_from_window_new.csv', sep=",", names=col_names)

In [11]:
test_attack_1_df =  test_attack_1_df.drop([0], axis = 0)

In [12]:
test_attack_1_df

                        datetime flag sensor_id   val
1     2008-01-11 06:01:40.434972    0      M034     1
2     2008-01-11 06:01:40.770873    0      M035     1
3     2008-01-11 06:01:42.302436    0      M035     0
4     2008-01-11 06:01:42.855271    0      M034     0
5     2008-01-11 06:01:45.377568    0      M035     1
6     2008-01-11 06:01:45.977405    0      M034     1
7     2008-01-11 06:01:46.393291    0      M035     0
8     2008-01-11 06:01:46.977122    0      M035     1
9     2008-01-11 06:01:52.671679    0      M035     0
10    2008-01-11 06:01:52.796683    0      M034     0
11    2008-01-11 06:03:57.124503    0      T001    19
12    2008-01-11 06:03:57.124503    0      T003    19
13    2008-01-11 06:06:40.227447    0      M034     1
14    2008-01-11 06:06:41.270158    0      M034     0
15    2008-01-11 06:07:07.554264    0      M034     1
16    2008-01-11 06:07:08.506004    0      M035     1
17    2008-01-11 06:07:17.295531    0      M034     0
18    2008-01-11 06:07:18.543178    0      M035     0
19    2008-01-11 06:07:43.835736    0      M034     1
20    2008-01-11 06:07:47.181978    0      M034     0
21    2008-01-11 06:08:03.359482    0      T001    20
22    2008-01-11 06:08:03.359482    0      T002    19
23    2008-01-11 06:08:03.359482    0      T003  18.5
24    2008-01-11 06:12:07.485881    0      T001    21
25    2008-01-11 06:12:07.485881    0      T002  19.5
26    2008-01-11 06:12:07.491847    0      AC01     1
27    2008-01-11 06:16:12.846598    0      T001    20
28    2008-01-11 06:16:12.846598    0      T003    19
29    2008-01-11 06:16:12.853093    0      AC01     0
30    2008-01-11 06:20:16.791236    0      T001  19.5
...                          ...  ...       ...   ...
7619  2008-01-12 09:50:36.260356    0      AC01     1
7620  2008-01-12 09:54:41.170325    0      T001  21.5
7621  2008-01-12 09:54:41.170325    0      T002  22.5
7622  2008-01-12 09:54:41.170325    0      T003  20.5
7623  2008-01-12 09:56:28.279387    0      M003     1
7624  2008-01-12 09:56:28.285410    0      L001     1
7625  2008-01-12 09:56:29.862921    0      M003     0
7626  2008-01-12 09:56:29.869502    0      L001     0
7627  2008-01-12 09:56:43.027522    0      M003     1
7628  2008-01-12 09:56:43.033452    0      L001     1
7629  2008-01-12 09:56:45.298688    0      M003     0
7630  2008-01-12 09:56:45.303711    0      L001     0
7631  2008-01-12 09:56:45.594648    0      M003     1
7632  2008-01-12 09:56:45.600949    0      L001     1
7633  2008-01-12 09:56:48.693819    0      M003     0
7634  2008-01-12 09:56:48.700241    0      L001     0
7635  2008-01-12 09:57:07.686395    0      M003     1
7636  2008-01-12 09:57:07.692252    0      L001     1
7637  2008-01-12 09:57:11.438344    0      M003     0
7638  2008-01-12 09:57:11.444789    0      L001     0
7639  2008-01-12 09:58:46.510136    0      T001    21
7640  2008-01-12 09:58:46.510136    0      T003  19.5
7641  2008-01-12 09:59:37.535423    0      M004     1
7642  2008-01-12 09:59:37.541312    0      L001     1
7643  2008-01-12 09:59:39.110963    0      M004     0
7644  2008-01-12 09:59:39.117553    0      L001     0
7645  2008-01-12 09:59:49.251958    0      M004     1
7646  2008-01-12 09:59:49.257825    0      L001     1
7647  2008-01-12 09:59:50.699524    0      M004     0
7648  2008-01-12 09:59:50.705607    0      L001     0

[7648 rows x 4 columns]

In [13]:
test_attack_1_df['event_name'] = test_attack_1_df['sensor_id']+ '_' + test_attack_1_df['val']

In [14]:

nrow = test_attack_1_df.shape[0]
event_id_list = []
new_e_list = []
for i in tqdm(range(nrow)):
    
    try: 
        event_id_list.append(event2id[ test_attack_1_df.iloc[i]['event_name'] ])
    except KeyError:
        event_id_list.append (-1)
        new_e_list.append(test_attack_1_df.iloc[i]['event_name'])

100%|██████████| 7648/7648 [00:00<00:00, 7723.58it/s]

In [15]:
event_id_list

[111,
 109,
 110,
 112,
 109,
 111,
 110,
 109,
 110,
 112,
 99,
 96,
 111,
 112,
 111,
 109,
 112,
 110,
 111,
 112,
 8,
 102,
 101,
 5,
 10,
 1,
 8,
 96,
 9,
 11,
 102,
 99,
 101,
 104,
 6,
 102,
 111,
 109,
 112,
 111,
 110,
 109,
 112,
 111,
 110,
 112,
 109,
 111,
 110,
 112,
 0,
 4,
 1,
 111,
 109,
 112,
 111,
 110,
 109,
 112,
 110,
 109,
 111,
 112,
 110,
 5,
 8,
 10,
 9,
 11,
 102,
 109,
 110,
 109,
 111,
 110,
 112,
 109,
 111,
 110,
 112,
 6,
 111,
 112,
 111,
 112,
 10,
 8,
 102,
 11,
 111,
 112,
 111,
 112,
 109,
 111,
 112,
 111,
 112,
 111,
 110,
 112,
 6,
 10,
 5,
 1,
 8,
 9,
 11,
 102,
 104,
 5,
 10,
 1,
 0,
 4,
 109,
 110,
 109,
 111,
 112,
 110,
 111,
 112,
 109,
 111,
 110,
 109,
 112,
 110,
 137,
 2,
 111,
 109,
 112,
 111,
 112,
 110,
 111,
 109,
 110,
 112,
 138,
 109,
 111,
 112,
 98,
 96,
 110,
 109,
 111,
 81,
 87,
 81,
 80,
 79,
 88,
 112,
 87,
 82,
 110,
 79,
 86,
 82,
 79,
 109,
 80,
 89,
 111,
 81,
 82,
 87,
 86,
 112,
 110,
 111,
 112,
 111,
 112,
 109,
 111,
 110,
 112,
 109,
 110,
 109,
 110,
 139,
 109,
 111,
 112,
 110,
 138,
 109,
 110,
 111,
 109,
 112,
 111,
 112,
 110,
 109,
 110,
 109,
 111,
 110,
 112,
 109,
 111,
 112,
 111,
 112,
 110,
 0,
 2,
 109,
 111,
 110,
 112,
 109,
 111,
 112,
 111,
 112,
 80,
 111,
 86,
 112,
 110,
 109,
 111,
 112,
 110,
 6,
 4,
 101,
 109,
 110,
 111,
 112,
 109,
 110,
 8,
 10,
 9,
 109,
 110,
 11,
 102,
 109,
 110,
 109,
 111,
 112,
 111,
 112,
 111,
 112,
 110,
 109,
 111,
 81,
 110,
 109,
 110,
 87,
 112,
 81,
 87,
 81,
 111,
 109,
 80,
 112,
 87,
 79,
 77,
 63,
 78,
 86,
 68,
 110,
 69,
 82,
 83,
 84,
 85,
 72,
 126,
 74,
 75,
 99,
 104,
 96,
 69,
 68,
 77,
 78,
 63,
 79,
 75,
 80,
 109,
 82,
 83,
 85,
 84,
 74,
 110,
 86,
 80,
 88,
 109,
 89,
 88,
 79,
 110,
 86,
 80,
 89,
 88,
 86,
 80,
 89,
 82,
 86,
 109,
 88,
 110,
 79,
 82,
 109,
 110,
 89,
 80,
 88,
 86,
 89,
 88,
 79,
 82,
 80,
 86,
 89,
 109,
 110,
 88,
 80,
 89,
 86,
 88,
 80,
 86,
 89,
 88,
 89,
 88,
 89,
 80,
 109,
 81,
 87,
 81,
 86,
 87,
 111,
 112,
 110,
 109,
 111,
 80,
 112,
 88,
 86,
 80,
 110,
 109,
 111,
 89,
 86,
 110,
 109,
 110,
 109,
 112,
 111,
 110,
 109,
 110,
 109,
 112,
 111,
 110,
 109,
 112,
 111,
 81,
 112,
 111,
 87,
 81,
 110,
 87,
 109,
 110,
 109,
 110,
 109,
 110,
 112,
 109,
 110,
 111,
 109,
 110,
 112,
 111,
 109,
 80,
 81,
 87,
 81,
 112,
 87,
 110,
 109,
 110,
 109,
 110,
 109,
 8,
 110,
 86,
 109,
 110,
 109,
 80,
 110,
 79,
 77,
 63,
 78,
 86,
 68,
 69,
 83,
 85,
 84,
 82,
 74,
 75,
 76,
 69,
 127,
 68,
 77,
 63,
 78,
 79,
 75,
 74,
 83,
 84,
 85,
 82,
 79,
 82,
 79,
 82,
 79,
 82,
 79,
 77,
 78,
 63,
 68,
 67,
 82,
 83,
 84,
 85,
 74,
 65,
 70,
 71,
 64,
 14,
 66,
 16,
 12,
 14,
 16,
 20,
 5,
 10,
 1,
 137,
 2,
 138,
 137,
 5,
 4,
 8,
 10,
 101,
 9,
 11,
 102,
 104,
 5,
 10,
 1,
 137,
 2,
 0,
 5,
 4,
 7,
 6,
 10,
 163,
 102,
 164,
 3,
 8,
 7,
 9,
 5,
 10,
 47,
 1,
 137,
 4,
 96,
 0,
 2,
 58,
 57,
 60,
 61,
 57,
 39,
 61,
 40,
 43,
 40,
 43,
 33,
 36,
 42,
 39,
 33,
 36,
 33,
 57,
 58,
 36,
 42,
 61,
 57,
 59,
 15,
 61,
 12,
 60,
 14,
 62,
 16,
 19,
 20,
 24,
 18,
 19,
 21,
 23,
 24,
 21,
 19,
 15,
 23,
 12,
 14,
 24,
 18,
 64,
 20,
 16,
 66,
 64,
 66,
 64,
 14,
 12,
 66,
 16,
 20,
 6,
 10,
 8,
 102,
 101,
 9,
 5,
 10,
 1,
 6,
 8,
 9,
 11,
 102,
 8,
 0,
 4,
 1,
 6,
 10,
 8,
 9,
 11,
 102,
 6,
 10,
 0,
 4,
 1,
 138,
 2,
 0,
 6,
 4,
 96,
 8,
 10,
 101,
 9,
 0,
 4,
 1,
 96,
 6,
 10,
 3,
 8,
 163,
 9,
 5,
 3,
 1,
 137,
 4,
 47,
 138,
 2,
 96,
 98,
 139,
 97,
 137,
 98,
 5,
 2,
 6,
 4,
 8,
 10,
 9,
 11,
 102,
 101,
 5,
 10,
 1,
 137,
 4,
 2,
 96,
 5,
 4,
 8,
 10,
 101,
 9,
 11,
 102,
 6,
 10,
 0,
 4,
 1,
 6,
 8,
 10,
 9,
 11,
 102,
 6,
 10,
 5,
 4,
 1,
 6,
 10,
 8,
 9,
 11,
 102,
 96,
 8,
 7,
 12,
 132,
 15,
 59,
 58,
 57,
 18,
 62,
 33,
 39,
 60,
 20,
 61,
 40,
 36,
 42,
 12,
 39,
 43,
 15,
 33,
 59,
 36,
 128,
 58,
 18,
 57,
 20,
 62,
 42,
 39,
 60,
 129,
 58,
 42,
 59,
 15,
 61,
 60,
 12,
 62,
 131,
 18,
 129,
 20,
 12,
 130,
 15,
 18,
 59,
 58,
 57,
 62,
 59,
 20,
 15,
 60,
 40,
 61,
 12,
 131,
 62,
 43,
 18,
 15,
 59,
 18,
 58,
 57,
 62,
 20,
 59,
 15,
 61,
 12,
 60,
 18,
 62,
 20,
 12,
 15,
 59,
 58,
 62,
 57,
 18,
 128,
 20,
 60,
 61,
 130,
 12,
 20,
 5,
 10,
 163,
 1,
 12,
 15,
 59,
 58,
 14,
 57,
 18,
 39,
 62,
 60,
 61,
 42,
 129,
 15,
 59,
 40,
 131,
 20,
 18,
 129,
 16,
 58,
 57,
 62,
 131,
 43,
 33,
 60,
 12,
 61,
 26,
 30,
 36,
 35,
 15,
 39,
 59,
 32,
 142,
 18,
 143,
 58,
 57,
 52,
 62,
 53,
 33,
 142,
 36,
 61,
 143,
 42,
 20,
 60,
 33,
 34,
 30,
 37,
 93,
 26,
 32,
 39,
 35,
 57,
 58,
 59,
 15,
 34,
 12,
 62,
 61,
 57,
 26,
 25,
 18,
 37,
 60,
 61,
 42,
 35,
 31,
 39,
 20,
 34,
 42,
 40,
 39,
 37,
 41,
 22,
 42,
 39,
 57,
 58,
 43,
 36,
 21,
 44,
 59,
 15,
 12,
 42,
 61,
 38,
 14,
 60,
 23,
 62,
 18,
 20,
 64,
 16,
 21,
 19,
 66,
 65,
 15,
 12,
 23,
 14,
 28,
 67,
 18,
 24,
 64,
 16,
 20,
 71,
 65,
 70,
 66,
 67,
 71,
 68,
 70,
 67,
 74,
 68,
 70,
 74,
 67,
 70,
 12,
 14,
 15,
 59,
 67,
 16,
 58,
 20,
 18,
 57,
 27,
 62,
 65,
 60,
 61,
 38,
 57,
 27,
 39,
 61,
 68,
 71,
 42,
 38,
 57,
 27,
 39,
 58,
 59,
 74,
 42,
 60,
 15,
 61,
 38,
 62,
 12,
 18,
 70,
 20,
 14,
 64,
 16,
 66,
 64,
 68,
 77,
 78,
 63,
 65,
 66,
 74,
 ...]

In [16]:
test_attack_1_df = test_attack_1_df.reset_index(drop=True)

In [17]:
test_attack_1_df['event_id'] = pd.Series(event_id_list)

In [18]:
# 处理数据
test_attack_1_df

                        datetime flag sensor_id   val event_name  event_id
0     2008-01-11 06:01:40.434972    0      M034     1     M034_1       111
1     2008-01-11 06:01:40.770873    0      M035     1     M035_1       109
2     2008-01-11 06:01:42.302436    0      M035     0     M035_0       110
3     2008-01-11 06:01:42.855271    0      M034     0     M034_0       112
4     2008-01-11 06:01:45.377568    0      M035     1     M035_1       109
5     2008-01-11 06:01:45.977405    0      M034     1     M034_1       111
6     2008-01-11 06:01:46.393291    0      M035     0     M035_0       110
7     2008-01-11 06:01:46.977122    0      M035     1     M035_1       109
8     2008-01-11 06:01:52.671679    0      M035     0     M035_0       110
9     2008-01-11 06:01:52.796683    0      M034     0     M034_0       112
10    2008-01-11 06:03:57.124503    0      T001    19    T001_19        99
11    2008-01-11 06:03:57.124503    0      T003    19    T003_19        96
12    2008-01-11 06:06:40.227447    0      M034     1     M034_1       111
13    2008-01-11 06:06:41.270158    0      M034     0     M034_0       112
14    2008-01-11 06:07:07.554264    0      M034     1     M034_1       111
15    2008-01-11 06:07:08.506004    0      M035     1     M035_1       109
16    2008-01-11 06:07:17.295531    0      M034     0     M034_0       112
17    2008-01-11 06:07:18.543178    0      M035     0     M035_0       110
18    2008-01-11 06:07:43.835736    0      M034     1     M034_1       111
19    2008-01-11 06:07:47.181978    0      M034     0     M034_0       112
20    2008-01-11 06:08:03.359482    0      T001    20    T001_20         8
21    2008-01-11 06:08:03.359482    0      T002    19    T002_19       102
22    2008-01-11 06:08:03.359482    0      T003  18.5  T003_18.5       101
23    2008-01-11 06:12:07.485881    0      T001    21    T001_21         5
24    2008-01-11 06:12:07.485881    0      T002  19.5  T002_19.5        10
25    2008-01-11 06:12:07.491847    0      AC01     1     AC01_1         1
26    2008-01-11 06:16:12.846598    0      T001    20    T001_20         8
27    2008-01-11 06:16:12.846598    0      T003    19    T003_19        96
28    2008-01-11 06:16:12.853093    0      AC01     0     AC01_0         9
29    2008-01-11 06:20:16.791236    0      T001  19.5  T001_19.5        11
...                          ...  ...       ...   ...        ...       ...
7618  2008-01-12 09:50:36.260356    0      AC01     1     AC01_1         1
7619  2008-01-12 09:54:41.170325    0      T001  21.5  T001_21.5         0
7620  2008-01-12 09:54:41.170325    0      T002  22.5  T002_22.5        95
7621  2008-01-12 09:54:41.170325    0      T003  20.5  T003_20.5         3
7622  2008-01-12 09:56:28.279387    0      M003     1     M003_1       129
7623  2008-01-12 09:56:28.285410    0      L001     1     L001_1        27
7624  2008-01-12 09:56:29.862921    0      M003     0     M003_0       131
7625  2008-01-12 09:56:29.869502    0      L001     0     L001_0        38
7626  2008-01-12 09:56:43.027522    0      M003     1     M003_1       129
7627  2008-01-12 09:56:43.033452    0      L001     1     L001_1        27
7628  2008-01-12 09:56:45.298688    0      M003     0     M003_0       131
7629  2008-01-12 09:56:45.303711    0      L001     0     L001_0        38
7630  2008-01-12 09:56:45.594648    0      M003     1     M003_1       129
7631  2008-01-12 09:56:45.600949    0      L001     1     L001_1        27
7632  2008-01-12 09:56:48.693819    0      M003     0     M003_0       131
7633  2008-01-12 09:56:48.700241    0      L001     0     L001_0        38
7634  2008-01-12 09:57:07.686395    0      M003     1     M003_1       129
7635  2008-01-12 09:57:07.692252    0      L001     1     L001_1        27
7636  2008-01-12 09:57:11.438344    0      M003     0     M003_0       131
7637  2008-01-12 09:57:11.444789    0      L001     0     L001_0        38
7638  2008-01-12 09:58:46.510136    0      T001    21    T001_21         5
7639  2008-01-12 09:58:46.510136    0      T003  19.5  T003_19.5        47
7640  2008-01-12 09:59:37.535423    0      M004     1     M004_1       134
7641  2008-01-12 09:59:37.541312    0      L001     1     L001_1        27
7642  2008-01-12 09:59:39.110963    0      M004     0     M004_0       135
7643  2008-01-12 09:59:39.117553    0      L001     0     L001_0        38
7644  2008-01-12 09:59:49.251958    0      M004     1     M004_1       134
7645  2008-01-12 09:59:49.257825    0      L001     1     L001_1        27
7646  2008-01-12 09:59:50.699524    0      M004     0     M004_0       135
7647  2008-01-12 09:59:50.705607    0      L001     0     L001_0        38

[7648 rows x 6 columns]

In [19]:
test_attack_1_df = test_attack_1_df.drop(['sensor_id', 'val', 'event_name'], axis = 1)
the_event_id_list = test_attack_1_df.event_id.tolist()

In [20]:
time_span = dt.timedelta(seconds=3600)
test_attack_1_df.datetime = pd.to_datetime(test_attack_1_df.datetime)

In [21]:
def get_input_events_by_hour(whole_df):
    
    input_df_list = []
    
    nrow, ncol = whole_df.shape
    
    start_time = whole_df.iloc[0].datetime
    temp_time = start_time
    k = 0
    
    
    for i in tqdm(range(nrow)):
        
        temp_time = whole_df.iloc[i].datetime
        
        if (start_time + time_span ) <= temp_time:
            
            df_input = whole_df[k:i]
            input_df_list.append(df_input)
            k = i
            start_time = temp_time
            
    df_input = whole_df[k:]
    input_df_list.append(df_input)
    
    
    return input_df_list

In [22]:
# 分割事件序列
input_df_list = get_input_events_by_hour(test_attack_1_df)

100%|██████████| 7648/7648 [00:01<00:00, 4766.80it/s]

In [23]:
# 这里重新定义了sigmoid函数、我们需要的是对概率为0的转移事件输出0的权重
def sigmoid(x):
    
    if x <= 0:
        
        return 0
    else:
        
        return 1.0/(1+ np.exp( 5000 * (-x+0.00021101498206372652) ) ) - 0

In [24]:
event_trans[1][10]

0.0198744769874477

In [25]:
input_df_list[0]

                     datetime flag  event_id
0  2008-01-11 06:01:40.434972    0       111
1  2008-01-11 06:01:40.770873    0       109
2  2008-01-11 06:01:42.302436    0       110
3  2008-01-11 06:01:42.855271    0       112
4  2008-01-11 06:01:45.377568    0       109
5  2008-01-11 06:01:45.977405    0       111
6  2008-01-11 06:01:46.393291    0       110
7  2008-01-11 06:01:46.977122    0       109
8  2008-01-11 06:01:52.671679    0       110
9  2008-01-11 06:01:52.796683    0       112
10 2008-01-11 06:03:57.124503    0        99
11 2008-01-11 06:03:57.124503    0        96
12 2008-01-11 06:06:40.227447    0       111
13 2008-01-11 06:06:41.270158    0       112
14 2008-01-11 06:07:07.554264    0       111
15 2008-01-11 06:07:08.506004    0       109
16 2008-01-11 06:07:17.295531    0       112
17 2008-01-11 06:07:18.543178    0       110
18 2008-01-11 06:07:43.835736    0       111
19 2008-01-11 06:07:47.181978    0       112
20 2008-01-11 06:08:03.359482    0         8
21 2008-01-11 06:08:03.359482    0       102
22 2008-01-11 06:08:03.359482    0       101
23 2008-01-11 06:12:07.485881    0         5
24 2008-01-11 06:12:07.485881    0        10
25 2008-01-11 06:12:07.491847    0         1
26 2008-01-11 06:16:12.846598    0         8
27 2008-01-11 06:16:12.846598    0        96
28 2008-01-11 06:16:12.853093    0         9
29 2008-01-11 06:20:16.791236    0        11
..                        ...  ...       ...
59 2008-01-11 06:38:22.042146    0       112
60 2008-01-11 06:38:24.541023    0       110
61 2008-01-11 06:38:25.445765    0       109
62 2008-01-11 06:38:27.068302    0       111
63 2008-01-11 06:38:28.820873    0       112
64 2008-01-11 06:38:31.110662    0       110
65 2008-01-11 06:40:43.571989    0         5
66 2008-01-11 06:44:47.917408    0         8
67 2008-01-11 06:44:47.917408    0        10
68 2008-01-11 06:44:47.925105    0         9
69 2008-01-11 06:48:53.116726    0        11
70 2008-01-11 06:48:53.116726    0       102
71 2008-01-11 06:50:17.762064    0       109
72 2008-01-11 06:50:19.433579    0       110
73 2008-01-11 06:50:47.076498    0       109
74 2008-01-11 06:50:48.440599    0       111
75 2008-01-11 06:50:48.709624    0       110
76 2008-01-11 06:50:50.067471    0       112
77 2008-01-11 06:50:50.382742    0       109
78 2008-01-11 06:50:52.474282    0       111
79 2008-01-11 06:50:59.699885    0       110
80 2008-01-11 06:50:59.857868    0       112
81 2008-01-11 06:52:58.333265    0         6
82 2008-01-11 06:54:14.981922    0       111
83 2008-01-11 06:54:17.385257    0       112
84 2008-01-11 06:56:13.582574    0       111
85 2008-01-11 06:56:15.241194    0       112
86 2008-01-11 06:57:03.635041    0        10
87 2008-01-11 07:01:07.979736    0         8
88 2008-01-11 07:01:07.979736    0       102

[89 rows x 3 columns]

In [26]:
# 简单事件两两概率预测当前事件触发概率
def get_simple_weight_from_event(input_df, event_trans):
    
    nrow, ncol = input_df.shape
    event_act_pro = 1
    
    for i in range(nrow ):
    
        
        
        if i == 0:
            
            #　print (event_single[the_event_id] )
            # event_act_pro *= sigmoid(event_single[the_event_id])
            continue
        
        else:
            
            pre_event_id = input_df.iloc[i-1].event_id
            the_event_id = input_df.iloc[i].event_id
            
            if sigmoid(event_trans[pre_event_id][the_event_id] ) == 0:
                
                print( pre_event_id, the_event_id)
            
            if pre_event_id == -1 or the_event_id == -1:
                event_act_pro *= sigmoid(0 )
            else:
                event_act_pro *= sigmoid(event_trans[pre_event_id][the_event_id] )
            
            # print (event_act_pro)
        
    return event_act_pro

In [27]:
# 当出现转移概率为0的事件时，显示出来，它就是导致事件序列被检测为异常的原因
event_act_weight_list = []

for input_df in input_df_list:
    
    event_act_weight_list.append( get_simple_weight_from_event(input_df, event_trans) )

12 78
78 27

In [28]:
event_trans[10][1]

0.19213226909920184

In [29]:
event_act_weight_list

[0.6600911714856048,
 0.9673843743578107,
 0.7260431258676441,
 0.9993712972880981,
 0.999999999980961,
 0.8402358647240006,
 1.0,
 0.046487738810873425,
 0.00035627512664981317,
 6.464230238079776e-10,
 0.0,
 0.23128806946054303,
 0.6481957234860948,
 0.9999978213979099,
 0.41234982453026287,
 0.2636911990476835]

In [31]:
# 待检测的包含 跳窗抢劫事件的 权重输出为0
event_act_weight_list[10]

0.0

In [30]:
'''
0.6600911714856048
0.9673843743578107
0.7260431258676441
0.9993712972880981
0.999999999980961
0.8402358647240006
1.0
0.046487738810873425
0.00035627512664981317
6.464230238079776e-10
0.0
0.23128806946054303
0.6481957234860948
0.9999978213979099
0.41234982453026287
0.2636911990476835
'''

'\n0.6600911714856048\n0.9673843743578107\n0.7260431258676441\n0.9993712972880981\n0.999999999980961\n0.8402358647240006\n1.0\n0.046487738810873425\n0.00035627512664981317\n6.464230238079776e-10\n0.0\n0.23128806946054303\n0.6481957234860948\n0.9999978213979099\n0.41234982453026287\n0.2636911990476835\n'